TD {font-size:8pt; font-family:Verdana, Arial, Helvetica, sans-serif; color:black;}
INPUT {font-size:8pt; font-family:Verdana, Arial, Helvetica, Sans-serif; color:black;}
SELECT {font-size:8pt; font-family:Verdana, Arial, Helvetica, Sans-serif; color:black;}
TEXTAREA {font-size:8pt; font-family:Verdana, Arial, Helvetica, Sans-serif; color:black;}
.menutitle {font-size:14pt; font-weight:bold; font-family:Verdana, Arial, Helvetica, Sans-serif; color:white;}
.title {font-size:8pt; font-weight:bold; font-family:Verdana, Arial, Helvetica, Sans-serif; color:white;}
a:link, a:visited { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: underline; color:white; }	
#warningMess {font-size:14pt; font-weight:bold; font-family:Verdana, Arial, Helvetica, Sans-serif; color:red;}
#okMess {font-size:14pt; font-weight:bold; font-family:Verdana, Arial, Helvetica, Sans-serif; color:green;}