/* ******************************************************************* */
/* ------------------------------ основные элементы ---------------------------------------*/
/* ******************************************************************* */
BODY { /* тело страницы */
background-color: #ffffff;
}
a:link, a:visited { /* ссылки будут отображаться */
color: #000000; /* черным цветом */
text-decoration: none; /* без декораций */
}
a:hover, a:active { /* при наведении курсора или клике по ссылке */
color: #000000; /* цвет - синий */
text-decoration: underline; /* декорация - подчеркнутая ссылка */
}
/* ******************************************************************* */
/* ------------------------------ основные элементы ---------------------------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* ------------------------------- основной контейнер --------------------------------------*/
/* ******************************************************************* */
/* Основной контейнер - это блок DIV внутри которого все содержимое скрипта */
#LinkExchanger {
clear:both;
position: relative; /* позиционирование - относительное по отношению к */
/*родительскому контейнеру, которым может являться ячейка Вашей таблицы */
width: 600px; /* ширина: можно 600px, а можно задать например 100%; */
margin: 10px 10px 10px 10px; /* поля: сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* ------------------------------- основной контейнер --------------------------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* --------------------------------- заголовок формы ---------------------------------------*/
/* ******************************************************************* */
#FormTitle { /* Заголовок - название формы */
position: relative; /* позиционирование - относительное */
font: 16pt verdana, Arial, Helvetica, sans-serif; /* шрифт заголовка */
font-weight: bold; /* жирный шрифт */
color: green; /* цвет шрифта */
margin: 0px 0px 10px 0px; /* поля заголовка:  сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* --------------------------------- заголовок формы ---------------------------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* --------------------------------- поле никнейма ------------------------------------------*/
/* ******************************************************************* */
#FormNickText { /* текст для поля ввода никнейма*/
position: relative; /* позиционирование - относительное */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста для поля ввода */
color: #000000; /* цвет шрифта */
margin: 0px 0px 5px 0px; /* поля текста: сверху-справа-снизу-слева */
}
#FormNickInput { /* поле ввода никнейма */
position: relative; /* позиционирование - относительное */
width:450px; /* ширина поля ввода ответной ссылки */
height: 20px; /*  высота поля ввода ответной ссылки */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста для поля ввода */
color: #000000; /* цвет шрифта */
margin: 0px 0px 0px 0px; /* поля:  сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* --------------------------------- поле никнейма ------------------------------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* --------------------------------- поле ответной ссылки ----------------------------------*/
/* ******************************************************************* */
#FormReturnText { /* текст для поля ввода ответной ссылки */
position: relative; /* позиционирование - относительное */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста для поля ввода */
color: #000000; /* цвет шрифта */
margin: 0px 0px 5px 0px; /* поля текста: сверху-справа-снизу-слева */
}
#FormReturnInput { /* поле ввода ответной ссылки */
position: relative; /* позиционирование - относительное */
width:450px; /* ширина поля ввода ответной ссылки */
height: 20px; /*  высота поля ввода ответной ссылки */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста для поля ввода */
color: #000000; /* цвет шрифта */
margin: 0px 0px 0px 0px; /* поля:  сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* --------------------------------- поле ответной ссылки ----------------------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* --------------------------------- адрес электронной почты -----------------------------*/
/* ******************************************************************* */
#FormMailText { /* текст для поля ввода e-mail */
position: relative; /* позиционирование - относительное */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста для поля e-mail */
color: #000000; /* цвет шрифта */
margin: 0px 0px 5px 0px; /* поля текста: сверху-справа-снизу-слева */
}
#FormMailInput { /* поле ввода электронной почты */
position: relative; /* позиционирование - относительное */
width:450px; /* ширина поля ввода e-mail */
height: 20px; /*  высота поля ввода e-mail */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста для поля e-mail */
color: #000000; /* цвет шрифта */
margin: 0px 0px 0px 0px; /* поля:  сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* --------------------------------- адрес электронной почты -----------------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* --------------------------------- выбор категории ----------------------------------------*/
/* ******************************************************************* */
#FormCategoryText { /* текст для списка выбора категории */
position: relative; /* позиционирование - относительное */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста для категорий */
color: #000000; /* цвет шрифта */
margin: 0px 0px 5px 0px; /* поля текста: сверху-справа-снизу-слева */
}
#FormCategorySelect { /* выпадающий список выбора категории */
position: relative; /* позиционирование - относительное */
width:450px; /* ширина выпадающего списка */
height: 20px; /*  высота выпадающего списка */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста для списка */
color: #000000; /* цвет шрифта */
margin: 0px 0px 0px 0px; /* поля:  сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* --------------------------------- выбор категории ----------------------------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* --------------------------------- поле ввода HTML-кода текстовой ссылки -----------*/
/* ******************************************************************* */
#FormHtmlText { /* текст для текстового поля HTML-кода */
position: relative; /* позиционирование - относительное */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста */
color: #000000; /* цвет шрифта */
margin: 0px 0px 5px 0px; /* поля текста: сверху-справа-снизу-слева */
}
#FormHtmlTextarea { /* текстовое поле ввода HTML-кода */
position: relative; /* позиционирование - относительное */
width:450px; /* ширина текстового поля */
height: 100px; /*  высота текстового поля */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста */
color: #000000; /* цвет шрифта */
margin: 0px 0px 0px 0px; /* поля:  сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* --------------------------------- поле ввода HTML-кода текстовой ссылки -----------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* --------------------------------- поле ввода HTML-кода графической ссылки -------*/
/* ******************************************************************* */
#FormImageText { /* текст для поля графического HTML-кода */
position: relative; /* позиционирование - относительное */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста */
color: #000000; /* цвет шрифта */
margin: 0px 0px 5px 0px; /* поля текста: сверху-справа-снизу-слева */
}
#FormImageTextarea { /* текстовое поле ввода HTML-кода графической ссылки */
position: relative; /* позиционирование - относительное */
width:450px; /* ширина текстового поля */
height: 100px; /*  высота текстового поля */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста */
color: #000000; /* цвет шрифта */
margin: 0px 0px 0px 0px; /* поля:  сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* --------------------------------- поле ввода HTML-кода графической ссылки -------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* --------------------------------- поле ввода описания текстовой ссылки -----------*/
/* ******************************************************************* */
#FormLinkText { /* текст для текстового поля описания ссылки */
position: relative; /* позиционирование - относительное */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста */
color: #000000; /* цвет шрифта */
margin: 0px 0px 5px 0px; /* поля текста: сверху-справа-снизу-слева */
}
#FormLinkTextarea { /* текстовое поле ввода описания текстовой ссылки*/
position: relative; /* позиционирование - относительное */
width:450px; /* ширина текстового поля */
height: 100px; /*  высота текстового поля */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста */
color: #000000; /* цвет шрифта */
margin: 0px 0px 0px 0px; /* поля:  сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* --------------------------------- поле ввода описания текстовой ссылки -----------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* --------------------------------- поле ввода адреса графической ссылки -----------*/
/* ******************************************************************* */
#FormBannerText { /* текст для поля адреса графической ссылки */
position: relative; /* позиционирование - относительное */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста */
color: #000000; /* цвет шрифта */
margin: 0px 0px 5px 0px; /* поля текста: сверху-справа-снизу-слева */
}
#FormBannerInput { /* поле ввода адреса графической ссылки */
position: relative; /* позиционирование - относительное */
width:450px; /* ширина поля ввода адреса */
height: 20px; /*  высота поля ввода адреса */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста для поля адреса */
color: #000000; /* цвет шрифта */
margin: 0px 0px 0px 0px; /* поля:  сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* --------------------------------- поле ввода адреса графической ссылки -----------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* --------------------------------- кнопки в форме добавления ссылки -----------------*/
/* ******************************************************************* */
#FormButton {
position: relative; /* позиционирование - относительное */
width:150px; /* ширина кнопок */
height: 20px; /*  высота кнопок */
font: 8pt verdana, Arial, Helvetica, sans-serif; /* шрифт на кнопках */
color: #000000; /* цвет шрифта на кнопках */
margin: 0px 0px 0px 0px; /* поля:  сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* --------------------------------- кнопки в форме добавления ссылки -----------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* ---------------- вывод сообщений об ошибках заполнения формы ------------------*/
/* ******************************************************************* */
#FormErrorTitle { /* заголовок сообщений об ошибках */
position: relative; /* позиционирование - относительное */
font: 16pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста заголовка */
color: red; /* цвет шрифта */
font-weight: bold; /* жирный шрифт */
margin: 0px 0px 5px 0px; /* поля:  сверху-справа-снизу-слева */
}
#FormErrorText { /* текст сообщений об ошибках */
position: relative; /* позиционирование - относительное */
font: 8pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста ошибок */
color: red; /* цвет шрифта */
margin: 0px 0px 5px 0px; /* поля:  сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* ---------------- вывод сообщений об ошибках заполнения формы ------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* ----------- предварительный просмотр результата заполнения формы ------------*/
/* ******************************************************************* */
#FormPreviewTitle { /* заголовок для предпросмотра */
position: relative; /* позиционирование - относительное */
font: 16pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста заголовка */
color: green; /* цвет шрифта */
font-weight: bold; /* жирный шрифт */
margin: 0px 0px 5px 0px; /* поля:  сверху-справа-снизу-слева */
}

/* практически полностью аналогичный повторяет блок в файле main.css */
/* Очень важный блок! Вся информация о ссылках, сформирована в виде */ 
/* карточек. Внутри каждой такой карточки содержатся блоки, отвечающие */
/* за форматирование картинки, текстовой ссылки, названия категории и т.д. */
/* по сути блок CardUser - это рамка карточки информации о ссылке */
/* блок CardUser включает в себя два блока: CardTextUser и CardDataUser, */ 
/*каждый из которых в свою очередь имеет свои дочерние блоки */
#CardUser {
position: relative; /* позиционирование - относительно предыдущего блока */
width: 600px; /* ширина блока карточки ссылки */
top: 0px; /* от верхнего края */
left: 0px; /* от левого края */
margin: 0px 0px 20px 0px; /* поля карточки: сверху-справа-снизу-слева */
}

/* блок в котором содержатся блоки кнопки и описания конкретной ссылки */
/* входит в состав блока CardUser. Является его дочерним блоком. */
#CardTextUser {
position: relative; /* позиционирование относительно родительского контейнера */
top: 0px; /* отступ от верхней границы родительского контейнера Card */
left: 0px; /* отступ от левой границы родительского контейнера */
font: 8pt verdana, Arial, Helvetica, sans-serif; /* шрифт текстовой ссылки */
color: black; /* цвет шрифта текстовой ссылки */
}
#CardTextUser IMG { /* картинка в блоке CardText */
float: left; /* будет выравниваться от левого края блока */
margin: 0px 5px 5px 0px; /* поля картинки: сверху-справа-снизу-слева */
}
#CardTextUser OBJECT { /* флеш-баннер в блоке CardText */
float: left; /* будет выравниваться от левого края блока */
margin: 0px 5px 5px 0px; /* поля флеш-баннера: сверху-справа-снизу-слева */
}

/* блок в котором содержатся следующие данные: CY, PR, название категории */
/* дата добавления ссылки и положение ссылки в каталоге */
/* входит в состав блока CardUser. Является его дочерним блоком. */
#CardDataUser {
clear: both; /* очищаем */
position: relative; /* позиционирование относительно предыдущего контейнера */
height: 12px; /* высота - ее лучше задать в абсолютных величинах */
top: 0px; /* от верхнего края */
left: 0px; /* от левого края */
font: 8pt verdana, Arial, Helvetica, sans-serif; /* шрифт */
color: black; /* цвет шрифта */
}

/* блок в котором содержатся данные CY */
/* входит в состав блока CardDataUser */
#CardCyUser {
position: absolute; /* абсолютное! позиционирование относительно CardData */
top: 0px; /* отступ от верхнего края */
left: 100px; /* отступ от левого края */
}
/* блок в котором содержатся данные PR */
/* входит в состав блока CardData */
#CardPrUser {
position: absolute; /* абсолютное! позиционирование относительно CardData */
top: 0px; /* отступ от верхнего края */
left: 175px; /* отступ от левого края */
}
/* блок в котором содержатся данные о времени добавления в каталог */
/* входит в состав блока CardData */
#CardTimeUser {
position: absolute; /* абсолютное! позиционирование относительно CardData */
top: 0px; /* отступ от верхнего края */
right: 0px; /* отступ от правого края */
text-align: right; /* выравнивание текста - выключкой вправо */
}
/* блок в котором содержится название категории */
/* входит в состав блока CardData */
#CardCategoryUser {
clear: both; /* очищаем поток */
position: relative; /* позиционирование - относительное */
font: 8pt verdana, Arial, Helvetica, sans-serif; /* шрифт */
color: black; /* цвет шрифта */
text-align: right; /* выравнивание - выключка вправо */
}
/* блок вывода контрольного числа */
/* входит в состав блока CardData */
#CardGuardUser {
clear: both; /* очищаем поток */
position: relative; /* позиционирование - относительное */
font: 8pt verdana, Arial, Helvetica, sans-serif; /* шрифт */
color: black; /* цвет шрифта */
text-align: left; /* выравнивание - выключка влево */
}
#CardGuardUser IMG { /* картинка в блоке CardGuard */
float: left; /* будет выравниваться от левого края блока */
margin: 0px 5px 15px 0px; /* поля картинки: сверху-справа-снизу-слева */
}
#CardGuardUser Input {
position: relative; /* позиционирование - относительное */
width:100px; /* ширина поля ввода адреса */
height: 22px; /*  высота поля ввода адреса */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста для поля адреса */
color: #000000; /* цвет шрифта */
text-align: center; /* выравнивание - по центру */
margin: 0px 0px 15px 20px; /* поля:  сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* ------------- предварительный просмотр результата заполнения формы -------- */
/* ******************************************************************* */

/* ******************************************************************* */
/* ------------------ сообщения для юзеров в процессе добавления ----------------- */
/* ******************************************************************* */
#CardMessageUser {
position: relative; /* позиционирование - относительное */
width: 450px; /* ширина блока сообщений */
font: 8pt verdana, Arial, Helvetica, sans-serif; /* шрифт сообщений */
color: black; /* цвет шрифта */
}
/* ******************************************************************* */
/* ------------------ сообщения для юзеров в процессе добавления ----------------- */
/* ******************************************************************* */

/* ******************************************************************* */
/* ------------------------- блок показа своих HTML-кодов ------------------------------ */
/* ******************************************************************* */
#CodesShow { // показываем свои HTML-коды
position: relative; /* позиционирование - относительное */
width: 450px; /* ширина блока */
height: 100px; /* высота, такую же поставьте в textarea */
font: 8pt verdana, Arial, Helvetica, sans-serif; /* шрифт сообщений */
margin: 0px 0px 10px 0px; /* поля: сверху-справа-снизу-слева */
}
#CodesShow TEXTAREA { // поле textarea откуда копируют коды
position: relative; /* позиционирование - относительное */
float: left; /* выравниваем поле к левому краю блока */
width: 215px; /* ширина поля textarea */
height: 100px; /* высота, сделайте такой же как в родительском блоке */
font: 8pt verdana, Arial, Helvetica, sans-serif; /* шрифт сообщений */
color: brown; /* цвет шрифта */
margin: 0px 10px 0px 0px; /* поля: сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* ------------------------- блок показа своих HTML-кодов ------------------------------ */
/* ******************************************************************* */

/* ******************************************************************* */
/* ------------------------- блок показа правил добавления ----------------------------- */
/* ******************************************************************* */
#RulesTitle { // заголовок для правил добавления
position: relative; /* позиционирование - относительное */
font: 16pt verdana, Arial, Helvetica, sans-serif; /* шрифт сообщений */
font-weight: bold;
color: green;
}
#RulesShow {
position: relative; /* позиционирование - относительное */
width: 450px; /* ширина блока */
font: 8pt verdana, Arial, Helvetica, sans-serif; /* шрифт сообщений */
text-align: justify;
margin: 0px 0px 10px 0px; /* поля: сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* ------------------------- блок показа правил добавления ----------------------------- */
/* ******************************************************************* */

/* ******************************************************************* */
/* ------------------------- блок формы письма админу------ ----------------------------- */
/* ******************************************************************* */
#MailtoadminTitle { /* Заголовок формы */
position: relative; /* позиционирование - относительное */
font: 16pt verdana, Arial, Helvetica, sans-serif; /* шрифт сообщений */
font-weight: bold;
color: green;
}
#MailToAdminText { /* текст для надписи над полями ввода */
position: relative; /* позиционирование - относительное */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста */
color: #000000; /* цвет шрифта */
margin: 0px 0px 5px 0px; /* поля текста: сверху-справа-снизу-слева */
}
#MailToAdminMail { /* поле ввода e-mail */
position: relative; /* позиционирование - относительное */
width:450px; /* ширина поля ввода e-mail */
height: 20px; /*  высота поля ввода e-mail */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста для поля e-mail */
color: #000000; /* цвет шрифта */
margin: 0px 0px 0px 0px; /* поля:  сверху-справа-снизу-слева */
}
#MailToAdminTextarea { /* текстовое поле ввода текста письма */
position: relative; /* позиционирование - относительное */
width: 450px; /* ширина текстового поля */
height: 100px; /*  высота текстового поля */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт текста */
color: #000000; /* цвет шрифта */
margin: 0px 0px 0px 0px; /* поля:  сверху-справа-снизу-слева */
}
#MailToAdminButton { /* кнопка отправить письмо */
position: relative; /* позиционирование - относительное */
width:150px; /* ширина кнопок */
height: 20px; /*  высота кнопок */
font: 8pt verdana, Arial, Helvetica, sans-serif; /* шрифт на кнопке */
color: #000000; /* цвет шрифта на кнопке */
margin: 0px 0px 0px 0px; /* поля:  сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* ------------------------- блок формы письма админу------ ---------------------------- */
/* ******************************************************************* */


/* ******************************************************************* */
/* --------------------------- блок вернуться на главную -----------------------*/
/* ******************************************************************* */
#BackToIndex {
position: relative; /* позиционирование - относительное */
width: 450px; /* ширина блока */
padding: 0px 0px 10px 0px; /* внутренние отступы сверху-справа-снизу-слева*/
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт */
font-weight: bolder;
color: black; /* цвет шрифта */
text-align: center; /* выравнивание по центру */
}
/* ******************************************************************* */
/* --------------------------- блок вернуться на главную -----------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* --------------------------- блок ссылки на сайт скрипта -----------------------*/
/* ******************************************************************* */
#CopyRightS {
position: relative; /* позиционирование - относительное */
width: 450px; /* ширина блока */
padding: 0px 0px 10px 0px; /* внутренние отступы сверху-справа-снизу-слева*/
font: 7pt verdana, Arial, Helvetica, sans-serif; /* шрифт */
color: black; /* цвет шрифта */
text-align: center; /* выравнивание по центру */
}
/* ******************************************************************* */
/* --------------------------- блок ссылки на сайт скрипта -----------------------*/
/* ******************************************************************* */