/* ******************************************************************* */
/* ------------------------------ основные элементы ---------------------------------------*/
/* ******************************************************************* */
BODY { /* тело страницы */
background-color: #ffffff;
}
a:link, a:visited { /* ссылки будут отображаться */
color: #000000; /* черным цветом */
text-decoration: none; /* без декораций */
}
a:hover, a:active { /* при наведении курсора или клике по ссылке */
color: #0000FF; /* цвет - синий */
text-decoration: underline; /* декорация - подчеркнутая ссылка */
}
/* ******************************************************************* */
/* ------------------------------ основные элементы ---------------------------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* ------------------------------- основной контейнер --------------------------------------*/
/* ******************************************************************* */
/* Основной контейнер - это блок DIV внутри которого все содержимое скрипта */
#LinkExchanger {
clear:both;
position: relative; /* позиционирование - относительное по отношению к */
/*родительскому контейнеру, которым может являться ячейка Вашей таблицы */
width: 600px; /* ширина: можно 600px, а можно задать например 100%; */
margin: 10px 10px 10px 10px; /* поля: сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* ------------------------------- основной контейнер --------------------------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* ------------------------------- таблица для категорий ----------------------------------*/
/* ******************************************************************* */
/* таблица для категорий от 1 до 4 столбцов можно выбрать в конфигурации */
#TableCategories {
position: relative; /* позиционирование - относительное */
width: 600px; /* ширина таблицы */
margin: 0px 0px 10px 20px; /* ширина полей сверху-справа-снизу-слева */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт в таблице*/
color: #000000; /* цвет шрифта в таблице */
}
#TdTableCategoryLinksHeader {
font: 16pt verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
color: green;
}
/* Можно использовать от 1 до 4 ячеек для таблицы с названиями категорий */
/* по умолчанию дизайн будет унаследован от родительского контейнера, но, */
/* если хотите, можно описать даже каждую ячейку строки в отдельности */
#TdTableCategories_1 {

}
#TdTableCategories_2 {

}
#TdTableCategories_3 {

}
#TdTableCategories_4 {

}
/* ******************************************************************* */
/* ------------------------------- таблица для категорий ----------------------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* -------------------------------- блок формы поиска --------------------------------------*/
/* ******************************************************************* */
/*  блок формы поиска по каталогу*/
#SearchForm {
position: relative; /* позиционирование - относительное */
width: 600px; /* ширина блока */
height: 90px; /* высота блока */
margin: 0px 0px 10px 20px; /* ширина полей сверху-справа-снизу-слева  */
}
/* заголовок блока поиска */
#SearchLinksHeader {
position: relative; /* позиционирование - относительное */
font: 16pt verdana, Arial, Helvetica, sans-serif; /* шрифт заголовка */
font-weight: bold; /* жирный шрифт */
color: green; /* цвет шрифта */
margin: 0px 0px 0px 0px; /* поля заголовка:  сверху-справа-снизу-слева */
}
#WhatSearchFont { /* надпись для поля ввода поискового запроса */
position: absolute; /* внимание! здесь позиционирование абсолютное! */
top: 25px; /* расстояние от верхней границы блока SearchForm до надписи */
left: 0px; /* расстояние от левой границы блока SearchForm до надписи */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт надписи */
color: #000000; /* цвет шрифта надписи */
}
#WhatSearchInput { /* поле ввода поискового запроса */
position: absolute; /* внимание! здесь позиционирование абсолютное! */
width:250px; /* ширина поля ввода запроса */
height: 20px; /*  высота поля ввода запроса*/
top: 45px; /* расстояние от верхней границы блока SearchForm до поля */
left: 0px; /* расстояние от левой границы блока SearchForm до поля */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт для поля ввода */
color: #000000; /* цвет шрифта */
}
#CategorySearchFont { /* надпись для поля выбора категории при запросе */
position: absolute; /* внимание! здесь позиционирование абсолютное! */
top: 25px; /* расстояние от верхней границы блока SearchForm до надписи  */
left: 270px; /* расстояние от левой границы блока SearchForm до надписи */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт для надписи */
color: #000000; /* цвет шрифта надписи */
}
#CategorySearchSelect { /* выпадающий список выбора категорий */
position: absolute; /* внимание! здесь позиционирование абсолютное! */
width:250px; /* ширина выпадающего списка */
height: 20px; /* высота выпадающего списка */
top: 45px; /* расстояние от верхней границы блока SearchForm до списка */
left: 270px; /* расстояние от левой границы блока SearchForm до списка */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт для списка */
color: #000000; /* цвет шрифта */
}
#SearchButton { /* кнопка Искать в форме поиска */
position: absolute; /* внимание! здесь позиционирование абсолютное! */
width:120px; /* ширина кнопки */
height: 20px;/* высота кнопки */
top: 70px; /* расстояние от верхней границы блока SearchForm до кнопки */
left: 0px; /* расстояние от левой границы блока SearchForm до кнопки */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт надписи на кнопке */
color: #000000; /* цвет надписи на кнопке */
}
/* ******************************************************************* */
/* -------------------------------- блок формы поиска --------------------------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* ------------------------- блок для последних добавленных ссылок ------------------*/
/* ******************************************************************* */
#LastLinks { /* последние добавленные в каталог ссылки */
position: relative; /* позиционирование - относительное */
width: 600px; /* ширина блока */
margin: 0px 0px 10px 20px; /* поля блока: сверху-справа-снизу-слева */
}
#LastLinksHeader { /* Заголовок - Последние добавленные ссылки */
font: 16pt verdana, Arial, Helvetica, sans-serif; /* шрифт заголовка */
font-weight: bold; /* жирный шрифт */
color: green; /* цвет шрифта */
margin: 0px 0px 10px 0px; /* поля заголовка:  сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* ------------------------- блок для последних добавленных ссылок ------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* ---------------------------- блок вывода ссылок в категориях ------------------------*/
/* ******************************************************************* */
#CategoryLinks { /* блок отображения ссылок в категориях каталога */
position: relative; /* позиционирование - относительное */
width: 600px; /* ширина блока */
margin: 0px 0px 10px 20px; /* поля блока: сверху-справа-снизу-слева */
}
#CategoryLinksHeader H1 { /* Заголовок - название конкретной категории */
font: 16pt verdana, Arial, Helvetica, sans-serif; /* шрифт заголовка */
font-weight: bold; /* жирный шрифт */
color: green; /* цвет шрифта */
margin: 0px 0px 10px 0px; /* поля заголовка:  сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* ---------------------------- блок вывода ссылок в категориях ------------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* ------------------------------- блок результатов поиска --------------------------------*/
/* ******************************************************************* */
#Search { /* блок отображения результатов поиска по каталогу */
position: relative; /* позиционирование - относительное */
width: 600px; /* ширина блока */
margin: 0px 0px 10px 20px; /* поля блока: сверху-справа-снизу-слева */
}
#SearchHeader { /* Заголовок - результаты поиска */
font: 16pt verdana, Arial, Helvetica, sans-serif; /* шрифт заголовка */
font-weight: bold; /* жирный шрифт */
color: green; /* цвет шрифта */
margin: 0px 0px 10px 0px; /* поля заголовка: сверху-справа-снизу-слева */
}
/* ******************************************************************* */
/* ------------------------------- блок результатов поиска --------------------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* --------------------------------- шкала страниц ------------------------------------------*/
/* ******************************************************************* */
#Scale { /* блок отображения шкалы разбивки каталога на страницы */
position: relative; /* позиционирование - относительное */
width: 600px; /* ширина блока шкалы */
top: 0px; /* от верхней границы */
left: 0px; /* от левой границы */
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт блока шкалы */
margin: 0px 0px 20px 0px; /* поля: сверху-справа-снизу-слева */
}

/* ******************************************************************* */
/* --------------------------------- шкала страниц ------------------------------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* --------------------------------- карточка ссылки ----------------------------------------*/
/* ******************************************************************* */
/* Очень важный блок! Вся информация о ссылках, сформирована в виде */ 
/* карточек. Внутри каждой такой карточки содержатся блоки, отвечающие */
/* за форматирование картинки, текстовой ссылки, названия категории и т.д. */
/* по сути блок Card - это рамка карточки информации о ссылке */
/* блок Card включает в себя два блока: CardText и CardData, каждый из */
/* которых в свою очередь имеет свои дочерние блоки */
#Card {
position: relative; /* позиционирование - относительно предыдущего блока */
width: 600px; /* ширина блока карточки ссылки */
top: 0px; /* от верхнего края */
left: 0px; /* от левого края */
margin: 0px 0px 20px 0px; /* поля карточки: сверху-справа-снизу-слева */
}


/* блок в котором содержатся блоки кнопки и описания конкретной ссылки */
/* входит в состав блока Card. Является его дочерним блоком. */
#CardText {
position: relative; /* позиционирование относительно родительского контейнера */
top: 0px; /* отступ от верхней границы родительского контейнера Card */
left: 0px; /* отступ от левой границы родительского контейнера */
font: 8pt verdana, Arial, Helvetica, sans-serif; /* шрифт текстовой ссылки */
color: black; /* цвет шрифта текстовой ссылки */
text-align: justify; /* выравнивание текста */
}
#CardText IMG { /* картинка в блоке CardText */
float: left; /* будет выравниваться от левого края блока */
margin: 0px 5px 5px 0px; /* поля картинки: сверху-справа-снизу-слева */
}
#CardText OBJECT { /* флеш-баннер в блоке CardText */
float: left; /* будет выравниваться от левого края блока */
margin: 0px 5px 5px 0px; /* поля флеш-баннера: сверху-справа-снизу-слева */
}


/* блок в котором содержатся следующие данные: CY, PR, название категории */
/* дата добавления ссылки и положение ссылки в каталоге */
/* входит в состав блока Card. Является его дочерним блоком. */
#CardData {
clear: both; /* очищаем */
position: relative; /* позиционирование относительно предыдущего контейнера */
height: 12px; /* высота - ее лучше задать в абсолютных величинах */
top: 0px; /* от верхнего края */
left: 0px; /* от левого края */
font: 8pt verdana, Arial, Helvetica, sans-serif; /* шрифт */
color: black; /* цвет шрифта */
}


/* блок в котором содержатся данные CY */
/* входит в состав блока CardData */
#CardCy {
position: absolute; /* абсолютное! позиционирование относительно CardData */
top: 0px; /* отступ от верхнего края */
left: 100px; /* отступ от левого края */
}
/* блок в котором содержатся данные PR */
/* входит в состав блока CardData */
#CardPr {
position: absolute; /* абсолютное! позиционирование относительно CardData */
top: 0px; /* отступ от верхнего края */
left: 175px; /* отступ от левого края */
}
/* блок в котором содержатся данные о времени добавления в каталог */
/* входит в состав блока CardData */
#CardTime {
position: absolute; /* абсолютное! позиционирование относительно CardData */
top: 0px; /* отступ от верхнего края */
right: 0px; /* отступ от правого края */
text-align: right; /* выравнивание текста - выключкой вправо */
}
/* блок в котором содержится название категории */
/* входит в состав блока CardData */
#CardCategory {
clear: both; /* очищаем поток */
position: relative; /* позиционирование - относительное */
font: 8pt verdana, Arial, Helvetica, sans-serif; /* шрифт */
color: black; /* цвет шрифта */
text-align: right; /* выравнивание - выключка вправо */
}
/* блок в котором содержится адрес ссылки в каталоге (только в поиске) */
/* входит в состав блока CardData */
#CardLinkPlace {
clear: both; /* очищаем поток */
position: relative; /* позиционирование - относительное */
font: 8pt verdana, Arial, Helvetica, sans-serif; /* шрифт */
color: black; /* цвет шрифта */
text-align: right; /* выравнивание - выключка вправо */
}
/* ******************************************************************* */
/* --------------------------------- карточка ссылки ----------------------------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* --------------------------- блок добавить ссылку -----------------------*/
/* ******************************************************************* */
#AddLink {
position: relative; /* позиционирование - относительное */
width: 600px; /* ширина блока */
padding: 0px 0px 10px 0px; /* внутренние отступы сверху-справа-снизу-слева*/
font: 10pt verdana, Arial, Helvetica, sans-serif; /* шрифт */
font-weight: bolder;
color: black; /* цвет шрифта */
text-align: center; /* выравнивание по центру */
}
/* ******************************************************************* */
/* --------------------------- блок добавить ссылку -----------------------*/
/* ******************************************************************* */

/* ******************************************************************* */
/* --------------------------- блок ссылки на сайт скрипта -----------------------*/
/* ******************************************************************* */
#CopyRightM {
position: relative; /* позиционирование - относительное */
width: 600px; /* ширина блока */
padding: 0px 0px 10px 0px; /* внутренние отступы сверху-справа-снизу-слева*/
font: 7pt verdana, Arial, Helvetica, sans-serif; /* шрифт */
color: black; /* цвет шрифта */
text-align: center; /* выравнивание по центру */
}

/* ******************************************************************* */
/* --------------------------- блок ссылки на сайт скрипта -----------------------*/
/* ******************************************************************* */