/* CSS Document */



/* BASIC SETTINGS */

body {
font-family:Arial, Helvetica, sans-serif;
font-size:100%;
color:#454545;
width:90%;
margin:0 auto;
}

/* HEADER ! ! ! */

#header { /* header */
background:url('../img/header.jpg');
width:100%;
margin:20px auto;
height:150px;
position:relative;
}

/* CENTRAL CONTAINER ! ! ! */

#wrapper { /* container with navigation and content */
margin:50px auto;
position:relative;
width:100%;
}

/* NAVIGATION ! ! ! */

#navigation { /* big navigation block */
float:left;
width:25%;
padding:0px;
}

.about a{ /* "main" and "about" links */
color:#898989;
margin:10px 10px;
padding:1px 3px;
display:block;
font-size:21px;
}

.about a:hover{ /* hovered "main" and "about" links */
text-decoration:none;
background-color:#FFCC99;
color:#9a2a00;
border-right:5px solid #ac5c10;
}

#nav_links { /* container with navigation links */
background:#990099 url("../img/bg3.gif");
margin:30px 0 0 0;
}

#navigation ul { /* navigation menu */
margin:0 auto;
width:80%;
padding:0px;
}

#navigation li { /* nav li */
color:#454545;
font-weight:bold;
margin:15px 0;
line-height:20px;
height:20px;
list-style:none;
cursor:pointer;
background:#eaeaff url('../img/link_bg_rigt.gif') right top no-repeat;
border:3px solid white;
}

#navigation li:hover a{ /* hovered nav li */
color:#bb6;
}

#navigation li a{ /* nav link */
text-decoration:none;
display:block;
color:#454545;
}


#navigation li .nav_link { /* rounded left part of nav link */
background:url('../img/link_bg_lef.gif') left top no-repeat;
line-height:20px;
padding-left:10px;
}

#navigation li .sub_nav { /* sub nav menu */
position:absolute;
margin:-30px 0 0 100px;
background:#eaeaff;
display:none;
border:3px solid white;
z-index:5;
}

#navigation li:hover .sub_nav { /* sub nav menu, while nav link is hovered */
display:block;
}

#navigation li .sub_nav a{ /* sub nav link */
padding:0 15px 0 10px;
display:block;
color:#454545;
font-size:12px;
text-decoration:none;
z-index:5;
background:url('../img/link_bg_rigt.gif') right top no-repeat;
}

#navigation li .sub_nav a:hover{ /* sub nav link hover */
color:#bb6;
}

.randomBox { /* container with random hotels */
background:#FFCC99 url("../img/hotel_box_top.jpg") top left no-repeat;
padding:0px;
margin:20px 0 0 0;
font-size:12px;
}

.randomBox p { /* random box text */
width:80%;
font-size:14px;
margin:10px 10% 0 10%;
}

.randomBox img { /* random box hotel's foto */
background:white;
margin:10px 10% 0 10%;
padding:3px;
width:80%;
border:1px solid #bcbcff;
}

.randomBox img:hover { /* random box hovered hotel's foto */
border:1px solid #5ca5ff;
}

.randomBox a{ /* random box link */
color:#9a2a00;
}

.randomBox a:hover{ /* random box hovere link */
text-decoration:none;
color:#9a2a00;
}

.randomBox strong{ /* random box price and rooms */
color:#565656;
}

.randomBox h3{ /* random box title */
background:none;
}

.randomBox span{ /* random box number */
color:#999; 
font-size:16px;
display:block;
}

/* CORNER FOR NAVIGATION AND CONTENT */

.corner_lt, .corner_rt, .corner_rb, .corner_lb { /* width-height of corners of navigation and content blocks */
width:100%;
height:100%;
}

.corner_lt { /* left-top corner of navigation and content blocks */
background: url("../img/nav_lt2.gif") left top no-repeat;
}

.corner_rt { /* right-top corner of navigation and content blocks */
background: url("../img/nav_rt2.gif") right top no-repeat;
}

.corner_rb { /* right-bottom corner of navigation and content blocks */
background: url("../img/nav_rb2.gif") right bottom no-repeat;
}

.corner_lb { /* left-bottom corner of navigation and content blocks */
background: url("../img/nav_lb2.gif") left bottom no-repeat;
}

/* CONTENT ! ! ! */

#content { /* big content block */
background:#009999 url("../img/bg3.gif");
width:70%;
float:right;
font-size:14px;
}

#main_cont { /* inner conent block of #main_block  */
width:90%;
height:100%;
background:white url("../img/cont_lt2.gif") left top no-repeat;
margin:0px auto;
}

#sort_by { /* container with "sort by" */
float:right;
margin:0 5% 0 0;
}

#sort_by a{ /* links in "sort by" */
color:#9a2a00;
padding:0 3px;
}

#sort_by a:hover{ /* hovered links in "sort by" */
background:#FFCC99;
color:#9a2a00;
text-decoration:none;
}

#cont_rt { /* right-top corner of #main_block  */
background: url("../img/cont_rt2.gif") right top no-repeat;
}

#cont_rb { /* right-bottom corner of #main_block  */
background: url("../img/cont_rb2.gif") right bottom no-repeat;
}

#cont_lb { /* left-bottom corner of #main_block */
background: url("../img/cont_lb2.gif") left bottom no-repeat;
}

#content p,h3,h2 { /* all text in content */
margin:15px 5%;
color:#454545;
text-indent:10px;
}

#content h3 { /* content title */
font-size:16px;
}

#content h2 { /* hotel's title */
color:#565656;
}

.hotelBox { /* hotel box */
background:#FFCC99 url("../img/hotel_box_top.jpg") top left repeat-x;
margin:15px 5% 40px 5%;
padding:0 0 20px 0;
}

.hotelBox div a{ /* hotelBox links */
color:#9a2a00;
}

.hotelBox div a:hover{ /* hotelBox hovered links */
text-decoration:none;
background:#FFCC99;
}

.hotelBox img { /* hotelBox hotel's foto */
width:200px;
background-color:white; 
border:1px solid #bcbcff; 
margin:5% 10px 5px 5%; 
display:inline; 
float:left;
padding:4px;
}

.hotelBox img:hover { /* hotelBox hovered hotel's foto */
border:1px solid #5ca5ff;
}

.hotelBoxTitle { /* hotelBox hotel's title */
margin:5% 5% 0 5%; 
display:inline-block; 
font-size:13px;
font-weight:bold;
}

.hotelBoxNumber { /* hotelBox number of hotel */
font-size:15px !important; 
color:#999999; 
margin-bottom:3px;
}

.hotelBoxDesc { /* hotelBox  text*/
display:inline;  
margin:5% 5% 0 5%;
}


.hotelBox strong{ /* hotelBox price and rooms */
color:#666666;
}

.hotelBoxMore { /* hotelBox container with link */
display:inline; 
width:95%;
float:right; 
margin:5% 5% 0 0;
color:#9a2a00;
}

.hotelBox p{ /* hotel box paragraph */
margin:30px 0 0 0;
font-size:14px;
}

.hotelBoxInfo { /* hotelBox container with price and rooms */
float:right;
margin:1px 5% 2% 0;
width:46%;
}

#hotelImg img{ /* hotel's big foto */
width:90%;
padding:1%;
background:white;
border:1px solid #cdcdff;
margin:0 0 0 4%;
}

#contact_mail a{ /* contact email after hotel's description */
color:#9a2a00;
padding:1px 3px;
margin-left:-3px;
}

#contact_mail a:hover{ /* hovered contact email after hotel's description */
text-decoration:none;
background:#FFCC99;
}

#pages { /* container with page links */
width:100%;
text-align:center;
}

#pages a { /* page links */
width:20px;
line-height:20px;
color:#9999cc;
border:1px solid #5ca5cd;
display:inline-block;
text-decoration:none;
margin:0px 3px;
}

#pages a:hover { /* hovered page links */
color:#7ec7ef;
border:1px solid #5ca5cd;
background:#eaeaff;
}

#pages span { /* container of each page link */
width:20px;
line-height:20px;
color:#dedede;
border:1px solid #eeeeee;
display:inline-block;
margin:0px 3px;
}

.form {
}

.form label {
margin-left:-9px;
}

.form input, textarea {
color:#333333;
width:250px;
}

.form .submit {
width:auto;
margin-left:-10px;
}

.form span {
margin-left:-10px;
font-size:12px;
}

/* FOOTER ! ! ! */

#footer { /* footer itself */
margin:50px auto;
width:100%;
background:#FFCC99 url("../img/hotel_box_top.jpg") top left repeat-x;
float:left;
clear:both;
text-align:center;
}
